<div class="login-container">
  <div class="login-card">
    <h2>Login 🔐</h2>
    <form>
      <label>
          Username 😎
        <input [(ngModel)]="username" name="username" required>
      </label>
      <label>
          Password 🔑
        <input type="password" [(ngModel)]="password" name="password" required>
      </label>
      <div class="actions">
          <button type="button" class="blue" [disabled]="!username || !password" (click)="login()">Login 🚀</button>
          <button type="button" (click)="cancel()">Cancel ❌</button>
      </div>
    </form>
  </div>
</div>
